
<section class="intro">
    {{!-- <h2 class="text"> New Places, New Friends, New Experiences!</h2> --}}
    <h1 class="text">Day Tryppers</h1>
    <div class="intro-container">
        <p>
            Are you yearning to embark on a journey, but finding it challenging to rally your friends for a group trip?
            Look no further, as DayTryppers is at your service! We specialize in crafting captivating travel packages
            tailored for solo adventurers who are eager to discover the world and forge meaningful connections along
            their path. By joining our community of fellow solo travelers, you'll have the opportunity to explore
            vibrant cities, indulge in delectable cuisines, and embrace the wonders that life has in store. Prepare
            yourself for an unforgettable experience by joining us on this extraordinary adventure!</p>
    </div>

<img class="hard-coded" src="./assets/india.jpg">

</section>
<div class="text-wrap">

</div>
 <section class="center-block custom-bg-color"> 
    <h1 class="text">Upcoming Trips</h1>
    {{#each trips as |trip|}}
    {{log trip}}
     <div class="img-wrap">
    <h3 class="text">{{name}}</h3>
    <a href="./trips/{{trip.destinationId}}">
       <div class="extra-wrap">
            <img class="home-img" src="{{trip.destination.imageUrl}}" alt="Destination image"
                style="width:375px; height: 450px;">
                </div>
        </div>
    </a>
    {{/each}}

</section>